html{
    background-color: gray;
}

.welcome{
    color:crimson;
    font-style:oblique;
    height:100px;
    width:200px;
    padding:30px;
    border:10px groove red;
    border-radius:25px;
    text-align:center;
    position:relative;
    left:40%;
    box-shadow: 8px 8px 2px purple;
    text-shadow: 4px 3px 3px orange;
}
.line{
    color:yellow;
    
}
.flex-container{
    background-color:gray;
  display:grid;
  grid-template-columns:900px 0px 300px ;
  grid-template-rows:auto auto auto auto;
  border:10px solid green;
  
   


}
.flex-items{
    color:purple;
    margin:40px;
    border-radius:20px;
    text-shadow: 1px 1px 5px purple;
    box-shadow: 10px 10px 5px purple;
   
}
.item1{
    width:120px;
    height:100px;
    border:10px red solid;
    padding:30px;
}
.image{
    height:160px;
    width:160px;
    padding:5px;
    
}
.item2{
    width:192px;
    height:180px;
    border: 10px solid red;
}
.item3{
    width:140px;
    height:130px;
    border:10px red solid;
   padding:30px;
    
}
.item4{
    width:150px;
    height:190px;
    border:10px red solid;
    padding:20px;
    

}
.enter{
    width:50%;
}
.store{
    margin:3px;
    display:grid;
    background-color:green;
    grid-template-columns: 600px 600px;
    grid-template-rows:100px 200px 200px;
}
.store-items{
    background-color:yellow;
    margin:2px;
}
.store-item2{
    text-align: center;
    grid-column-start: 1;
    grid-column-end:3 ;
}
.text-align{
    text-align:right;
}
.Monday{
    color:red;
    background-color:greenyellow;
    width:60vw;
    height:50px;
    border:10px solid red;
    padding:30px;
    border-radius:20px;
    text-align: center;
    position:sticky;
    bottom:0px;
    left:200px;
    font-size:25px;
    box-shadow: 3px 3px 4px purple;
    
}
.get{
    text-align:center;
    padding-bottom:200px;
    float:right;
}
hr{
    border:3px solid black;
}

